<div>
  <div>
    <nav aria-label="breadcrumb">
      <ol>
        <li><%= link_to("Home", root_path) %></li>
        <li aria-current="page">Profile</li>
      </ol>
    </nav>
  </div>
</div>

<div>
  <div>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-break">
          Characters count: <%= current_user.characters.count %>
        </li>
        <li class="list-group-item text-break">
          <%= link_to("Change email and password", edit_user_registration_path) %>
        </li>
        <li class="list-group-item text-break">
          <%= link_to("Remove my profile with all data", edit_user_registration_path) %>
        </li>
      </ul>
    </div>

  </div>
</div>
