---
http_interactions:
- request:
    method: get
    uri: https://esi.tech.ccp.is/v2/characters/1337512245/portrait/?datasource=tranquility
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 06 Oct 2017 20:57:27 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '33'
    body:
      encoding: UTF-8
      string: '{"px64x64":"http://image.eveonline.com/Character/1337512245_64.jpg","px128x128":"http://image.eveonline.com/Character/1337512245_128.jpg","px256x256":"http://image.eveonline.com/Character/1337512245_256.jpg","px512x512":"http://image.eveonline.com/Character/1337512245_512.jpg"}'
  recorded_at: Fri, 06 Oct 2017 21:07:38 GMT
recorded_with: VCR 3.0.3
