<div class="row">
    <div class="col col-login mx-auto">
        <form class="card">
            <div class="card-body p-6">
                <div class="card-title">Sign In</div>
                <div class="form-group">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Email address" autofocus required>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">
                        Password
                        <a href="./forgot-password.html" class="float-right small">I forgot password</a>
                    </label>
                    <input type="password" class="form-control" id="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" />
                        <span class="custom-control-label">Remember me</span>
                    </label>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-block sign-in">Sign in</button>
                </div>
            </div>
        </form>

        <div class="text-center text-muted">
            Don't have account yet? <a href="./register.html">Sign up</a>
        </div>

        <hr />

        <div class="text-center">
            <a href="/auth/eve_online_sso"><img src="https://images.contentful.com/idjq7aai9ylm/4fSjj56uD6CYwYyus4KmES/4f6385c91e6de56274d99496e6adebab/EVE_SSO_Login_Buttons_Large_Black.png?w=270&h=45" alt="Sign in via EveOnline SSO"></a>
        </div>
    </div>
</div>
