<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item active" aria-current="page">FAQ</li>
      </ol>
    </nav>
  </div>
</div>

<div id="faq" class="accordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading_1">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_1" aria-expanded="false" aria-controls="collapse_1">
        1. Which scopes used by EveMonk app?
      </button>
    </h2>

    <div id="collapse_1" class="accordion-collapse collapse" aria-labelledby="heading_1" data-bs-parent="#faq">
      <div class="accordion-body">
        <p>Used scopes:</p>

        <ul>
          <li>publicData</li>
          <li>esi-wallet.read_character_wallet.v1</li>
          <li>esi-characters.read_loyalty.v1</li>
          <li>esi-clones.read_implants.v1</li>
          <li>esi-clones.read_clones.v1</li>
          <li>esi-skills.read_skillqueue.v1</li>
          <li>esi-skills.read_skills.v1</li>
          <li>esi-assets.read_assets.v1</li>
          <li>esi-location.read_location.v1</li>
          <li>esi-location.read_online.v1</li>
          <li>esi-location.read_ship_type.v1</li>
          <li>esi-mail.read_mail.v1</li>
          <li>esi-characters.read_standings.v1</li>
          <li>esi-characters.read_blueprints.v1</li>
          <li>esi-killmails.read_killmails.v1</li>
          <li>esi-industry.read_character_jobs.v1</li>
          <li>esi-markets.read_character_orders.v1</li>
          <li>esi-corporations.read_corporation_membership.v1</li>
          <li>esi-calendar.read_calendar_events.v1</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="heading_2">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_2" aria-expanded="false" aria-controls="collapse_2">
        2. Where "publicData" scope is used?
      </button>
    </h2>

    <div id="collapse_2" class="accordion-collapse collapse" aria-labelledby="heading_2" data-bs-parent="#faq">
      <div class="accordion-body">
        <p>This is default scope.</p>
      </div>
    </div>
  </div>
</div>
