<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">EveMonk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="/" class="nav-link dashboard">Dashboard</a>
            </li>
            {{#if loggedIn}}
                <li class="nav-item">
                    <a href="/profile" class="nav-link profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="/characters" class="nav-link characters">Characters</a>
                </li>
            {{else}}
                <li class="nav-item">
                    <a href="/sign_in" class="nav-link sign-in">Sign In</a>
                </li>
                <li class="nav-item">
                    <a href="/sign_up" class="nav-link sign-up">Sign Up</a>
                </li>
            {{/if}}
            {{#if loggedIn}}
                <li class="nav-item">
                    <a href="/sign_out" class="nav-link sign-out">Sign Out</a>
                </li>
            {{/if}}
            <li class="nav-item">
                <a href="/universe" class="nav-link universe">EVE Universe</a>
            </li>
        </ul>
    </div>
</nav>
