---
http_interactions:
- request:
    method: post
    uri: https://login.eveonline.com/v2/oauth/token
    body:
      encoding: UTF-8
      string: client_id=eve-online-sso-client-id&client_secret=eve-online-sso-secret-key&grant_type=refresh_token&refresh_token=fresh-token-1232132132132131231312312312312312321321321321312312
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"abcdefg1232132131231231231231232132131231321231323123123112313132321312312312312312313","expires_in":1199,"token_type":"Bearer","refresh_token":"new-fresh-token-123213213213213123131231231231231232132132132131"}'
  recorded_at: Tue, 19 Oct 2021 19:55:23 GMT
recorded_with: VCR 6.0.0
