.git/*
.idea/*
.circleci/*
.generators
.env
.env.example
.env_docker
.deepsource.toml
docker-compose.yml
node_modules/*
tmp/cache/*
public/packs/*
public/packs-test/*
log/*
coverage/*
backup-*.sql.gz
screenshots/*
