.git/*
.github/*
.idea/*
.deepsource.toml
.env
.env.example
.env_docker
.erb-lint.yml
.fasterer.yml
.hadolint.yml
.rspec
.rubocop.yml
.standard.yml
config/skylight.yml
docker-build.sh
docker-compose.yml
docker-postgresql-restore-dump.sh
.generators
tmp/cache/*
log/*
coverage/*
backup-*.sql.gz
screenshots/*
static/*
sde.zip
erd.pdf
