.git/*
.github/*
.idea/*
.generators
.env
.env.example
.env_docker
.deepsource.toml
docker-compose.yml
docker-postgresql-restore-dump.sh
node_modules/*
tmp/cache/*
public/packs/*
public/packs-test/*
log/*
coverage/*
backup-*.sql.gz
screenshots/*
static/*
sde.zip
