version: "3.8"

volumes:
  postresql_data: {}
  redis_data: {}
  elasticsearch_data: {}

services:
  postgresql:
    image: "docker.io/library/postgres:13.3"
    container_name: "evemonk_postgresql"
    restart: "unless-stopped"
    volumes:
      - "postresql_data:/var/lib/postgresql/data"
    environment:
      POSTGRES_HOST_AUTH_METHOD: "trust"
    ports:
      - "5432:5432"

  elasticsearch:
    image: "docker.elastic.co/elasticsearch/elasticsearch-oss:7.10.2"
    container_name: "evemonk_elasticsearch"
    restart: "unless-stopped"
    volumes:
      - "elasticsearch_data:/usr/share/elasticsearch/data"
    environment:
      - "discovery.type=single-node"
      - "ES_JAVA_OPTS=-Xms256M -Xmx256M"
    ports:
      - "9200:9200"

  redis:
    image: "docker.io/library/redis:6.2.4"
    container_name: "evemonk_redis"
    restart: "unless-stopped"
    volumes:
      - "redis_data:/data"
    ports:
      - "6379:6379"

  memcached:
    image: "docker.io/library/memcached:1.6.9"
    container_name: "evemonk_memcached"
    restart: "unless-stopped"
    command: "memcached -m 64"
    ports:
      - "11211:11211"
