version: "3.9"

volumes:
  postgresql_data: {}
  redis_data: {}
  redis_cache_data: {}
  minio_data: {}

services:
  postgresql:
    image: "docker.io/library/postgres:15.4"
    container_name: "evemonk_postgresql"
    restart: "unless-stopped"
    volumes:
      - "postgresql_data:/var/lib/postgresql/data"
    environment:
      POSTGRES_HOST_AUTH_METHOD: "trust"
    ports:
      - "5432:5432"

  redis:
    image: "docker.io/library/redis:7.0.11"
    container_name: "evemonk_redis"
    restart: "unless-stopped"
    volumes:
      - "redis_data:/data"
    ports:
      - "6379:6379"

  redis_cache:
    image: "docker.io/library/redis:7.0.11"
    container_name: "evemonk_redis_cache"
    restart: "unless-stopped"
    volumes:
      - "redis_cache_data:/data"
    ports:
      - "6380:6379"

  minio:
    image: "docker.io/minio/minio:latest"
    container_name: "evemonk_minio"
    restart: "unless-stopped"
    command: "server /data --console-address :9001"
    environment:
      MINIO_ROOT_USER: "root"
      MINIO_ROOT_PASSWORD: "password"
      MINIO_REGION_NAME: "us-east-1"
    volumes:
      - "minio_data:/data"
    ports:
      - "9000:9000"
      - "9001:9001"
