---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/corporations/98258093
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"930466771c46000d65a4df0acf7f2f4f84b51caa98e1de4343ae2127"'
      Last-Modified:
      - Thu, 08 Jan 2026 01:22:22 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '49'
      X-Esi-Request-Id:
      - 7625143b-ecec-43d0-88f1-593526f239d9
    body:
      encoding: UTF-8
      string: '{"alliance_id":99009268,"ceo_id":93337205,"creator_id":93337205,"date_founded":"2013-10-23T18:19:18Z","description":"<font
        size=\"13\" color=\"#ff999999\"><\/font><font size=\"12\" color=\"#ffb2b2b2\">Proud
        member of <\/font><font size=\"12\" color=\"#ffffe400\"><loc><a href=\"https:\/\/eve-linknet.com\/\">the
        EVE LinkNet community<\/a><\/loc><\/font><font size=\"12\" color=\"#ffb2b2b2\">.<br><br><\/font><font
        size=\"12\" color=\"#ffffffff\"><b>We are an entry level corporation for the
        LinkNet community.<\/b><\/font><font size=\"12\" color=\"#ffb2b2b2\"> By joining
        this corporation you will gain access to all of the benefits and content hosted
        by the other LinkNet partner corporations.<br><br><\/font><font size=\"12\"
        color=\"#ffffffff\"><b>Our mission is to connect you with the perfect corporation<\/b><\/font><font
        size=\"12\" color=\"[...]
