<div id="blueprints_results">
  <% blueprints.each do |blueprint| %>
    <div class="card">
      <div class="row no-gutters">
        <div class="col-2 text-center m-auto">
          <img src="<%= blueprint.icon_tiny %>" alt="<%= blueprint.name %>" class="rounded border" size="34x34" loading="lazy">
        </div>
        <div class="col-10">
          <div class="card-body">
            <div class="card-text">
              <a href="/blueprints/calculator/<%= blueprint.type_id %>"><%= blueprint.name %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
