<div class="card text-left">
  <div class="card-header text-uppercase">
    Job duration modifiers
  </div>
  <div class="card-body">
    Skills and Implants: <%#= @blueprint.blueprint.time_copying_modifier %>
  </div>
  <div class="card-body">
    <ul class="list-unstyled">
      <li>Science <%= @character.science_level %></li>
      <li>Advanced Industry <%= @character.advanced_industry_level %></li>
    </ul>
  </div>
</div>
