---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/universe/ancestries/?language=de
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Content-Language:
      - de
      Etag:
      - '"71e655c22da484d5e6466ec84d40e14997b5b24b94901ab8c31b0781"'
      Last-Modified:
      - Thu, 02 Jan 2025 11:01:17 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '35'
      X-Esi-Request-Id:
      - 2d3b61ca-3ae5-4889-97d8-35711bcdffda
    body:
      encoding: UTF-8
      string: '[{"bloodline_id":7,"description":"Die Gallente sch\u00e4tzen politischen
        Aktivismus mehr als alle anderen Imperien. Viele engagieren sich an einer
        oder mehreren Fronten, um ihre pers\u00f6nlichen Interessen durchzusetzen.
        Aktivisten sind sich dar\u00fcber bewusst, dass sich die Dinge erst dann zum
        Besseren \u00e4ndern, wenn jemand den Mut fasst, f\u00fcr das Gute zu k\u00e4mpfen.","icon_id":1653,"id":13,"name":"Aktivisten","short_description":"Making
        the universe a better place, one fight at a time."},{"bloodline_id":9,"description":"Gentechnologie
        hat die Gesellschaft der Jove \u00fcber die Jahrhunderte hinweg in jeder Hinsicht
        ver\u00e4ndert. Viele Jove glauben, dass das Ma\u00df in dieser Hinsicht voll
        ist. Die \"Unbefleckten\" sind eine Gruppe von Jove, die weitere genetische
        Experimente ablehnen und sich stattdessen konventionellen Methoden zuwenden,
        um mit Krankheit und Alter umzu[...]
