---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/universe/bloodlines/?language=de
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Content-Language:
      - de
      Etag:
      - W/"71e655c22da484d5e6466ec84d40e14997b5b24b94901ab8c31b0781"
      Last-Modified:
      - Thu, 02 Jan 2025 11:01:17 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '45'
      X-Esi-Request-Id:
      - 8e559a96-d56c-4cfe-a5b6-2d255d8cdadf
    body:
      encoding: UTF-8
      string: '[{"bloodline_id":5,"charisma":3,"corporation_id":1000066,"description":"Wahre
        Amarr sind stolz, hochm\u00fctig und verf\u00fcgen \u00fcber einen ausgepr\u00e4gten
        Sinn f\u00fcr Tradition und Herkunft. Sie gelten als arrogant und tyrannisch.
        Die Niederlage gegen die geheimnisvollen Jovianer und die anschlie\u00dfende
        Rebellion der Minmatar haben ihre Kultur f\u00fcr immer gepr\u00e4gt. Diese
        zweifache Niederlage gilt heute als Wendepunkt in ihrer Geschichte und pr\u00e4gte
        eine ganze Generation von Politikern und Philosophen unter der kaiserlichen
        Elite.","intelligence":7,"memory":6,"name":"Amarr","perception":4,"race_id":4,"ship_type_id":596,"willpower":10},{"bloodline_id":10,"charisma":7,"corporation_id":1000178,"description":"Die
        verschiedenen existierenden St\u00e4mme der Jovianer sind nicht das Ergebnis
        geografisch oder klimatisch bedingter Unterschiede, sondern der Gentechnologie
        geschuldet, die \u00fcber viele Jahrhunderte weiterentwickelt wurde. Modifier
        sind die Enthusiasten der jovianischen Familie. Sie sind neugierig und stets
        bereit, Neues zu erleben und zu erforschen. Modifier sterben fr\u00fc[...]
