---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v2/universe/factions/?language=de
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Content-Language:
      - de
      Etag:
      - W/"71e655c22da484d5e6466ec84d40e14997b5b24b94901ab8c31b0781"
      Last-Modified:
      - Thu, 02 Jan 2025 11:01:17 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '19'
      X-Esi-Request-Id:
      - 48577dad-c1c8-4ee9-b751-d63127770913
    body:
      encoding: UTF-8
      string: '[{"corporation_id":1000084,"description":"Das gr\u00f6\u00dfte der
        f\u00fcnf Hauptimperien, das Imperium der Amarr, ist ein ausuferndes Konglomerat
        feudaler Provinzen, das durch die Macht der Kaiserin zusammengehalten wird.
        Religion hat in der Politik der Amarr immer eine wichtige Rolle gespielt und
        die Amarr glauben, die rechtm\u00e4\u00dfigen Herrscher der Welt zu sein,
        was die Beziehungen zu ihren Nachbarn verschlechtert. Ein weiterer Grund f\u00fcr
        die Abneigung gegen die Amarr vonseiten der anderen Imperien ist die Tatsache,
        dass die Amarr Sklaverei bef\u00fcrworten.","faction_id":500003,"is_unique":true,"militia_corporation_id":1000179,"name":"Amarr
        Empire","size_factor":5.0,"solar_system_id":30002187,"station_count":1032,"station_system_count":508},{"corporation_id":1000127,"description":"Gegr\u00fcndet
        von zwei ehemaligen Piloten der Caldari Navy - sie sind unter den Namen \"Fatal\"
        und \"The Rabbit\" bekannt - sind die Guristas ein st\u00e4ndiger Dorn im
        Fleisch des Staates Caldari. Die Guristas sind in dem Sinne traditionelle
        Piraten, dass ihre Aktivit\u00e4ten nicht einer Glaubensrichtung oder einer
        Ideologie entspringen, sondern ganz einfach auf Habgier beruhen. Die Guristas
        haben S[...]
