---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/universe/races
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - de
      Etag:
      - '"d53e06315fe6f15f4dd47da86f16b3cb51977abc22701227d931f03b"'
      Last-Modified:
      - Thu, 01 Jan 2026 11:01:47 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - MISS
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '45'
      X-Esi-Request-Id:
      - 864f60df-00ed-4626-b545-94ccb548b713
    body:
      encoding: UTF-8
      string: '[{"alliance_id":500001,"description":"Der Staat der Caldari gr\u00fcndet
        sich auf den Grunds\u00e4tzen von Patriotismus und harter Arbeit, welche die
        Vorfahren der Caldari manch gro\u00dfes Elend auf ihrer unwirtlichen Heimatwelt
        \u00fcberstehen lie\u00dfen. Heute ist das Land eine Diktatur der Konzerne,
        angef\u00fchrt von Herrschern, die fest entschlossen sind, das Land zu den
        alten Idealen der Leistungsgesellschaft zur\u00fcckzuf\u00fchren. R\u00fccksichtslos
        und effizient im Konferenzraum wie auf dem Schlachtfeld, sind die Caldari
        ein lebendes Wahrzeichen von Kraft, Ausdauer und Erhabenheit.","name":"Caldari","race_id":1},{"alliance_id":500002,"description":"Der
        Stamm der Minmatar war eine bl\u00fchende Zivilisation, bis er vom Imperium
        der Amarr f\u00fcr mehr als 700 Jahre versklavt wurde. Eine blutige Rebellion
        konnte viele Minmatar befreien, einige waren jedoch als Sklaven zur\u00fcckgeblieben.
        Heute sind die Minmatar robust, geschickt und flei\u00dfig. Viele meinen,
        die Demokratie habe ihnen gute Dienste erwiesen, doch k\u00f6nne sie nie zur\u00fcckgeben,
        was[...]
