version: 2

jobs:
  build:
    working_directory: ~/evemonk
    docker:
      - image: circleci/ruby:3.0.1-node-browsers
        environment:
          RAILS_ENV: test
          PGHOST: localhost
      - image: postgres:13.3
        environment:
          POSTGRES_USER: circleci
          POSTGRES_DB: evemonk_test
          POSTGRES_HOST_AUTH_METHOD: trust
      - image: docker.elastic.co/elasticsearch/elasticsearch-oss:7.10.2
        environment:
          - discovery.type: single-node
    steps:
      - checkout
      - restore_cache:
          keys:
            - ruby-{{ checksum ".ruby-version" }}-v1-dependencies-{{ checksum "Gemfile.lock" }}
            - ruby-{{ checksum ".ruby-version" }}-v1-dependencies-
      - run: sudo gem update --system '3.2.20'
      - run: gem install bundler -v '2.2.20'
      - run: gem --version
      - run: bundle --version
      - run: bundle config set clean 'true'
      - run: bundle config set path 'vendor/bundle'
      - run: bundle check || bundle install --jobs=2 --retry=5
      - run: bundle clean
      - run: bundle exec bootsnap precompile --gemfile app/ lib/
      - save_cache:
          paths:
            - ./vendor/bundle
          key: ruby-{{ checksum ".ruby-version" }}-v1-dependencies-{{ checksum "Gemfile.lock" }}
      - run: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run: dockerize -wait tcp://localhost:9200 -timeout 2m
      - run: sudo npm install -g npm@6.14.13
      - run: sudo npm install --force -g yarn@1.22.10
      - run: node -v
      - run: npm -v
      - run: yarn -v
      - run: yarn install --frozen-lockfile
      - run: bundle exec rails zeitwerk:check
      - run: bundle exec rails db:create
      - run: bundle exec rails db:migrate
      - run: bundle exec rspec --profile --format documentation --format RspecJunitFormatter --out ~/test-results/rspec.xml
      - run: bundle exec rails factory_bot:lint
      # - run: bundle exec rails active_record_doctor:unindexed_foreign_keys
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: ~/test-results
