<tr>
  <td class="align-middle text-center border-end-0 m-0 p-2">
    <%= image_tag(corporation.icon_small,
                  alt: corporation.name,
                  class: "rounded border",
                  size: "34x34",
                  loading: "lazy") %>
  </td>
  <td class="align-middle text-break border-start-0">
    <%= link_to(corporation.name, universe_corporation_path(corporation)) %>
  </td>
  <td class="align-middle text-end">
    <%= corporation.formatted_member_count %>
  </td>
</tr>
