<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
  <h4 class="text-center">
    <%= link_to(t(".corporations_html"),
                universe_corporations_path,
                class: "text-decoration-none",
                "data-hotkey": "c") %>
  </h4>

  <table class="table table-dark table-striped table-bordered">
    <thead>
      <tr>
        <th colspan="2" class="text-center">Name</th>
        <th class="text-end">Members</th>
      </tr>
    </thead>

    <tbody>
      <% @corporations.each do |corporation| %>
        <tr>
          <td class="text-center align-middle border-end-0 m-0 p-2">
            <%= image_tag(corporation.icon_small,
                          alt: corporation.name,
                          class: "rounded border",
                          size: "34x34",
                          loading: "lazy") %>
          </td>
          <td class="text-break align-middle border-start-0">
            <%= link_to(corporation.name, universe_corporation_path(corporation.corporation_id)) %>
          </td>
          <td class="text-end align-middle">
            <%= corporation.formatted_member_count %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
