<%= turbo_frame_tag "corporations:top" do %>
  <h4 class="text-center">
    <%= link_to(t(".corporations_html"),
                universe_corporations_path,
                class: "text-decoration-none",
                "data-hotkey": "c") %>
  </h4>

  <table id="corporations" class="table table-dark table-striped table-bordered">
    <thead>
      <tr>
        <th colspan="2" class="text-center">Name</th>
        <th class="text-end">Members</th>
      </tr>
    </thead>

    <tbody>
      <%= render @corporations %>
    </tbody>
  </table>
<% end %>
