<%= turbo_frame_tag "universe:corporation:#{@corporation.id}:characters" do %>
  <h4 class="text-center">Members (<%= @characters.size %>)</h4>

  <table class="table table-dark table-striped table-bordered">
    <thead>
      <tr>
        <th colspan="2" class="text-center">Name</th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: "character", collection: @characters %>
    </tbody>
  </table>
<% end %>
