<% set_meta_tags title: "Characters",
                 canonical: universe_characters_url,
                 description: "EVE Online Characters",
                 og: {
                   title: "EVE Online Characters",
                   url: universe_characters_url,
                   type: "website",
                   site_name: "EveMonk: EVE Online management suite",
                   locale: "en_US",
                   description: "EVE Online Characters",
                   image: @characters.first&.icon_medium
                 } %>

<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item active" aria-current="page">Characters</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <table class="table table-dark table-striped table-bordered">
      <thead>
        <tr>
          <th colspan="2" class="text-center">Name</th>
        </tr>
      </thead>
      <tbody>
        <% @characters.each do |character| %>
          <tr>
            <td class="align-middle text-center border-end-0 m-0 p-2">
              <%= image_tag(character.icon_tiny,
                            alt: character.name,
                            class: "rounded border",
                            size: "34x34",
                            loading: "lazy") %>
            </td>
            <td class="align-middle text-break border-start-0">
              <%= link_to(character.name, universe_character_path(character)) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="w-100"></div>

  <%= paginate @characters %>
</div>
