<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item"><%= link_to("Profile", profile_path) %></li>
        <li class="breadcrumb-item active" aria-current="page">Two Factor Authentication</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-sm-12 col-md-8 col-lg-4 col-xl-4">
    <%= turbo_frame_tag "two-factor-auth" do %>
      <%= render "two_factor_auth" %>
    <% end %>
  </div>
</div>
