<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item active" aria-current="page">Blueprint calculator</li>
      </ol>
    </nav>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" id="blueprints">
    <h4 class="text-center text-break">Blueprint</h4>

    <form>
      <div class="form-group">
        <input v-model="name"
               class="form-control"
               placeholder="Type blueprint name to find"
               autofocus>
      </div>
    </form>

    <div class="card" v-for="blueprint in blueprints" :key="blueprint.id">
      <div class="row no-gutters">
        <div class="col-2 text-center m-auto">
          <img :src="blueprint.icon"
               :alt="blueprint.name"
               class="rounded border"
               size="34x34"
               loading="lazy">
        </div>
        <div class="col-10">
          <div class="card-body">
            <div class="card-text">
              <a :href="`/blueprint_calculator/${blueprint.id}`">{{ blueprint.name }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag nonce: true do %>
  var app = new Vue({
    el: '#blueprints',
    data: {
      name: null,
      blueprints: []
    },
    watch: {
      name: function (value) {
        this.search(value, this);
      }
    },
    methods: {
      search: debounce((search, vm) => {
        fetch(`/api/eve/blueprints?q=${escape(search)}`).then(response => {
          response.json().then(json => (vm.blueprints = json.blueprints));
        });
      }, 350)
    }
  });
<% end %>
