<% set_meta_tags title: "Largest alliances and corporations",
                 description: "Largest alliances and corporations in EVE Online",
                 og: {
                   title: "Largest alliances and corporations in EVE Online",
                   url: root_url,
                   type: "website",
                   site_name: "EveMonk: EVE Online management suite",
                   locale: "en_US",
                   description: "Largest alliances and corporations in EVE Online"
                 } %>

<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><%= t("breadcrumb.home") %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <%= render TopAlliancesComponent.new(alliances: @alliances, lazy: true) %>

  <%= render TopCorporationsComponent.new(corporations: @corporations, lazy: true) %>
</div>
