---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/v1/universe/categories/20/?language=en-us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Allow:
      - GET,HEAD,OPTIONS
      Content-Language:
      - en-us
      Etag:
      - W/"71e655c22da484d5e6466ec84d40e14997b5b24b94901ab8c31b0781"
      Last-Modified:
      - Thu, 02 Jan 2025 11:01:17 GMT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '41'
      X-Esi-Request-Id:
      - 2b26e3d7-721c-495c-b5a9-1cff551ff3f3
    body:
      encoding: UTF-8
      string: '{"category_id":20,"groups":[300,303,304,721,738,739,740,741,742,743,744,745,746,747,748,749,750,751,783,1228,1229,1230,1231,1730],"name":"Implant","published":true}'
  recorded_at: Thu, 02 Jan 2025 20:47:18 GMT
recorded_with: VCR 6.3.1
