<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item active" aria-current="page">Blueprints calculator</li>
      </ol>
    </nav>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" id="blueprints">
    <h4 class="text-center text-break">Blueprint</h4>

    <div data-controller="autocomplete" data-autocomplete-url-value="<%= blueprints_search_index_path %>" role="combobox">
      <input type="text" placeholder="Type blueprint name to find e.g. drake" data-autocomplete-target="input">
      <input type="hidden" name="bird_id" data-autocomplete-target="hidden">
      <ul class="list-group" data-autocomplete-target="results"></ul>
    </div>

    <%#= form_with(url: blueprints_calculator_index_path, method: :get) do |f| %>
<!--      <div class="form-group">-->
        <%#= f.search_field :q,
                           value: params[:q],
                           placeholder: "Type blueprint name to find e.g. drake",
                           class: "form-control",
                           autofocus: true,
                           autocomplete: "off" %>
<!--      </div>-->

<!--      <div class="form-group text-center">-->
        <%#= button_tag "Search", name: nil, type: nil, class: "btn btn-primary w-100" %>
<!--      </div>-->
    <%# end %>

    <%#= render "blueprints", blueprints: @blueprints %>
  </div>
</div>
