---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/characters/90729314
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"9f25978bd57b51eb804df670e60b0f545a119bedbba9d366d54792bc"'
      Last-Modified:
      - Fri, 30 Jan 2026 11:49:41 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '1'
      X-Esi-Request-Id:
      - 59b4837c-42fe-4921-8141-2ef15b3ecd77
    body:
      encoding: UTF-8
      string: '{"birthday":"2011-05-10T10:23:00Z","bloodline_id":7,"corporation_id":1000168,"description":"","gender":"male","name":"Green
        Black","race_id":8,"security_status":0.0}'
  recorded_at: Tue, 03 Feb 2026 23:12:59 GMT
recorded_with: VCR 6.4.0
