<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to("Home", root_path) %></li>
        <li class="breadcrumb-item active" aria-current="page">About EveMonk</li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">About EveMonk</h5>
        <p class="card-text">
          EveMonk is an EVE Online management suite.
        </p>

        <p class="card-text">
        <h6>Features:</h6>

        <ul>
          <li>Public info about Alliances, Corporations and Characters</li>
          <li>GraphQL API for public data from Eve Online</li>
        </ul>
        </p>
      </div>
    </div>
  </div>
</div>
