---
http_interactions:
- request:
    method: get
    uri: https://esi.evetech.net/alliances/1354830081
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tenant:
      - tranquility
      X-Compatibility-Date:
      - '2025-12-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Language:
      - en
      Etag:
      - '"7b7362de30f26dae2913a4d7e093a50c6316e12a0806da0013833a2d"'
      Last-Modified:
      - Wed, 07 Jan 2026 20:13:40 GMT
      X-Compatibility-Date:
      - '2020-01-01'
      X-Esi-Cache-Status:
      - HIT
      X-Esi-Error-Limit-Remain:
      - '100'
      X-Esi-Error-Limit-Reset:
      - '59'
      X-Esi-Request-Id:
      - 0f0e117e-33cc-4288-ad4b-8170a634252e
    body:
      encoding: UTF-8
      string: '{"creator_corporation_id":459299583,"creator_id":240070320,"date_founded":"2010-06-01T05:36:00Z","executor_corporation_id":1344654522,"name":"Goonswarm
        Federation","ticker":"CONDI"}'
  recorded_at: Wed, 07 Jan 2026 20:44:01 GMT
recorded_with: VCR 6.4.0
