@import "darkly/variables";
@import "variables";
@import "bootstrap";
@import "darkly/bootswatch";

// For stimulus-password-visibility
.hidden {
  display: none;
}

// Fixing align on bootstrap icons
.vertical-align-125 {
  vertical-align: -0.125em;
}

// "Disable with" rails feature:
// https://gorails.com/episodes/turbo-data-confirm-method-and-disable
// https://github.com/hotwired/turbo/pull/386
button {
  .show-when-enabled {
    display: initial;
  }
  .show-when-disabled {
    display: none;
  }

  &[disabled] {
    .show-when-enabled {
      display: none;
    }
    .show-when-disabled {
      display: initial;
    }
  }
}
