@import "darkly/variables";

$accordion-bg: $gray-700 !default;
$accordion-border-color: $gray-800 !default;
$accordion-button-color: $link-color !default;
$accordion-button-active-color: $link-color !default;
$accordion-button-active-bg: $gray-900 !default;
