<td>{{ id }}</td>
<td>{{ uid }}</td>
<td>{{ name }}</td>
<td><a href="/characters/{{ id }}" class="btn btn-primary show">Show</a></td>
<td><button class="btn btn-danger destroy">Destroy</button></td>
