<div class="row">
    <div class="col">
        <h1>Characters List ({{ state.totalRecords }})</h1>
    </div>
</div>

<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>UID</th>
        <th>Name</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    </thead>

    <tbody id="characters_tbody">
    </tbody>
</table>

{{#pagination state.currentPage state.lastPage 10}}
    <nav>
        <ul class="pagination">
            {{#each pages}}
                {{#if isCurrent}}
                    <li class="page-item disabled"><a class="page-link" href="#">{{ page }}</a></li>
                {{/if}}

                {{#unless isCurrent}}
                    <li class="page-item"><a class="page-link change-page" href="/characters?page={{ page }}">{{ page }}</a></li>
                {{/unless}}
            {{/each}}
        </ul>
    </nav>
{{/pagination}}
