<div class="alert alert-icon {{ classname }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"></button>
    <i class="{{ icon }}" aria-hidden="true"></i> {{ message }}
</div>
