<div class="alert {{ classname }} alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <i class="{{ icon }}"></i> {{ message }}
</div>
