name: Active Record Doctor

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 21 * * 6"

env:
  POSTGRES_HOST_AUTH_METHOD: "trust"
  POSTGRES_USER: "runner"
  POSTGRES_DB: "evemonk_test"
  PGHOST: "localhost"
  SECRET_KEY_BASE: "df85f70fa713b189c61deba6a51206472643e53894ae9a1dcd7c97ee15a9b79e962c9ada5b12e69ab360648f74b89d1b7d26dd310b485d48d4509a3445113813"
  AWS_ACCESS_KEY_ID: "root"
  AWS_SECRET_ACCESS_KEY: "password"
  MINIO_REGION_NAME: "us-east-1"
  MINIO_ENDPOINT: "http://localhost:9000"
  BUCKET: "evemonk-test-bucket"
  DEVISE_MAILER_SENDER: "robot@evemonk.com"
  DEVISE_PEPPER: "e19db51a470b8259e79616ac00450ea1857d819aa860e2e7cff79b3c295d3993867a68c9524587d2b02b6f76efa8dea8aaf09884f186bfab89442eb2530ea829"

jobs:
  active_record_doctor:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: "postgres:15.4"
        env:
          POSTGRES_HOST_AUTH_METHOD: "trust"
          POSTGRES_USER: "runner"
          POSTGRES_DB: "evemonk_test"
        ports:
          - "5432:5432"
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      minio:
        image: "minio/minio"
        env:
          MINIO_ROOT_USER: "root"
          MINIO_ROOT_PASSWORD: "password"
          MINIO_REGION_NAME: "us-east-1"
        ports:
          - "9000:9000"
          - "9001:9001"
        options: minio/minio server /data

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@v1
      - name: Disable skylight dev warning
        run: bundle exec skylight disable_dev_warning
      - run: bin/rails db:create
      - run: bin/rails db:migrate
      - name: Extraneous indexes
        run: bin/rake active_record_doctor:extraneous_indexes
      - name: Unindexed deleted_at
        run: bin/rake active_record_doctor:unindexed_deleted_at
      # - name: Missing foreign keys
      #   run: bin/rake active_record_doctor:missing_foreign_keys
      # - name: Undefined table references
      #   run: bin/rake active_record_doctor:undefined_table_references
      # - name: Missing unique indexes
      #   run: bin/rake active_record_doctor:missing_unique_indexes
      # - name: Missing non null constraint
      #   run: bin/rake active_record_doctor:missing_non_null_constraint
      # - name: Missing presence validation
      #   run: bin/rake active_record_doctor:missing_presence_validation
      - name: Incorrect boolean presence validation
        run: bin/rake active_record_doctor:incorrect_boolean_presence_validation
      # - name: Incorrect length validation
      #   run: bin/rake active_record_doctor:incorrect_length_validation
      # - name: Incorrect dependent option
      #   run: bin/rake active_record_doctor:incorrect_dependent_option
      - name: Short primary key type
        run: bin/rake active_record_doctor:short_primary_key_type
      - name: Mismatched foreign key type
        run: bin/rake active_record_doctor:mismatched_foreign_key_type
      # - name: Unindexed foreign keys
      #   run: bin/rake active_record_doctor:unindexed_foreign_keys
