name: Rails assets

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: {}
  schedule:
    - cron: "0 21 * * 6"

permissions:
  contents: read

env:
  DEVISE_MAILER_SENDER: "robot@evemonk.com"
  ACTION_MAILER_FROM: "EveMonk <robot@evemonk.com>"
  DEVISE_PEPPER: "e19db51a470b8259e79616ac00450ea1857d819aa860e2e7cff79b3c295d3993867a68c9524587d2b02b6f76efa8dea8aaf09884f186bfab89442eb2530ea829"

jobs:
  precompile:
    runs-on: ubuntu-24.04

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Ruby
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          rubygems: latest
          bundler: latest
          bundler-cache: true
      - name: Disable skylight dev warning
        run: bundle exec skylight disable_dev_warning
      - run: cp -f config/evemonk.example.yml config/evemonk.yml
      - run: bin/rails SECRET_KEY_BASE=no assets:precompile
