name: Rails assets

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: {}
  schedule:
    - cron: "0 21 * * 6"

permissions:
  contents: read

env:
  DEVISE_MAILER_SENDER: "robot@evemonk.com"
  ACTION_MAILER_FROM: "EveMonk <robot@evemonk.com>"
  DEVISE_PEPPER: "e19db51a470b8259e79616ac00450ea1857d819aa860e2e7cff79b3c295d3993867a68c9524587d2b02b6f76efa8dea8aaf09884f186bfab89442eb2530ea829"

jobs:
  precompile:
    runs-on: ubuntu-24.04

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Ruby
        uses: ruby/setup-ruby@ed55d55e820a01da7d3e4863a8c51a61d73c3228 # v1.274.0
        with:
          rubygems: latest
          bundler: latest
          bundler-cache: true
      - name: Disable skylight dev warning
        run: bundle exec skylight disable_dev_warning
      - run: cp -f config/evemonk.example.yml config/evemonk.yml
      - run: bin/rails SECRET_KEY_BASE=no assets:precompile
