name: RSpec

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 21 * * 6"

permissions:
  contents: read

env:
  POSTGRES_HOST_AUTH_METHOD: "trust"
  POSTGRES_USER: "runner"
  POSTGRES_DB: "evemonk_test"
  PGHOST: "localhost"
  SECRET_KEY_BASE: "df85f70fa713b189c61deba6a51206472643e53894ae9a1dcd7c97ee15a9b79e962c9ada5b12e69ab360648f74b89d1b7d26dd310b485d48d4509a3445113813"
  AWS_ACCESS_KEY_ID: "root"
  AWS_SECRET_ACCESS_KEY: "password"
  MINIO_REGION_NAME: "us-east-1"
  MINIO_ENDPOINT: "http://localhost:9000"
  BUCKET: "evemonk-test-bucket"
  DEVISE_MAILER_SENDER: "robot@evemonk.com"
  ACTION_MAILER_FROM: "EveMonk <robot@evemonk.com>"
  DEVISE_PEPPER: "e19db51a470b8259e79616ac00450ea1857d819aa860e2e7cff79b3c295d3993867a68c9524587d2b02b6f76efa8dea8aaf09884f186bfab89442eb2530ea829"
  CI: "yes"
  SE_AVOID_STATS: "true"

jobs:
  rspec:
    runs-on: ubuntu-24.04

    services:
      postgres:
        image: "postgres:17.2"
        env:
          POSTGRES_HOST_AUTH_METHOD: "trust"
          POSTGRES_USER: "runner"
          POSTGRES_DB: "evemonk_test"
        ports:
          - "5432:5432"
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      redis:
        image: "valkey/valkey:8.0.2"
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - "6379:6379"
      minio:
        image: "minio/minio"
        env:
          MINIO_ROOT_USER: "root"
          MINIO_ROOT_PASSWORD: "password"
          MINIO_REGION_NAME: "us-east-1"
        ports:
          - "9000:9000"
          - "9001:9001"
        options: minio/minio server /data

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c95a14d0e5bab51a9f56296a4eb0e416910cd350 # v2.10.3
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up Ruby
        uses: ruby/setup-ruby@868b3f088412f139260f27f5b148179b9dd6b008 # v1.208.0
        with:
          rubygems: latest
          bundler: latest
          bundler-cache: true
      - name: Disable skylight dev warning
        run: bundle exec skylight disable_dev_warning
      - run: cp -f config/evemonk.example.yml config/evemonk.yml
      - run: bundle exec bootsnap precompile --gemfile
      - run: bin/rails zeitwerk:check
      - run: bin/rails db:create
      - run: bin/rails db:migrate
      - run: bin/rspec
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@1e68e06f1dbfde0e4cefc87efeba9e4643565303 # v5.1.2
