name: shellcheck

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 21 * * 6"

jobs:
  shellcheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Download shellcheck
        run: wget -qO- https://github.com/koalaman/shellcheck/releases/download/stable/shellcheck-stable.linux.x86_64.tar.xz | tar -xJv
      - name: shellcheck version
        run: shellcheck-stable/shellcheck --version
      - name: run shellcheck
        run: shellcheck-stable/shellcheck bin/backend bin/sidekiq-server bin/cron bin/standardize
